[submodule "dom-cardio"]
	path = dom-cardio
	url = https://github.com/Akshay-Tarde/dom-cardio.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/Akshay-Tarde/etch-a-sketch.git
[submodule "face-detection"]
	path = face-detection
	url = https://github.com/Akshay-Tarde/face-detection.git
[submodule "sarcastic-text"]
	path = sarcastic-text
	url = https://github.com/Akshay-Tarde/sarcastic-text.git
[submodule "shopping-form"]
	path = shopping-form
	url = https://github.com/Akshay-Tarde/shopping-form.git
